<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">{{site.title}}</h2>
                <hr class="light">
                <p class="text-faded">Découvrez notre entreprise polyvalente, experte en plomberie, climatisation, ventilation et chauffage. Nous sommes votre partenaire de confiance pour des installations de qualité, des dépannages rapides et une maintenance préventive efficace. Offrant un service complet et fiable, nous assurons le confort et la tranquillité d'esprit de nos clients, quel que soit leurs besoins en matière de systèmes de plomberie et de climatisation. Faites le choix de l'excellence avec notre équipe expérimentée et dévouée, prête à répondre à toutes vos exigences en matière de confort thermique et de qualité de l'air intérieur.</p>
                <a href="#contact" class="btn btn-default btn-xl">Contactez nous!</a>
            </div>
        </div>
    </div>
</section>
